* {margin: 0px;
padding: 5px;}
body {display: grid;
gid-gap: 50px;}
#header {display: flex;
justify-content: space-between;
align-items: center;
background-color: #F300FF;
margin: 0px 0px 50px 0px;
height: 50px;
position: fixed;
top: 0px;
bottom: 100px;}
.nav-link {padding: 50px;
color: #000;
text-decoration: none;
font-weight:  bold;}
.nav-link:hover {padding: 10px 50px;
color: #000;
text-decoration: none;
font-weight:  bold;
background-color: rgba(200, 0, 0, 0.5);
color: #FFF;}
figcaption {
color: rgba(100, 0, 255, 1);
font-weight: bold;}
#main {display: grid;
grid-template-columns: 200px auto 30%;
margin-top: 50px;}
#products {display: flex;
flex-direction: row;
flex-wrap: wrap;
background-color: rgba(0, 0, 0, 0.2);}
#makeup {display: flex;
flex-direction: row;
flex-wrap: wrap;}
#lipsticks {display: flex;
flex-direction: row;
flex-wrap: wrap;}
#eyeshadow-palette {display: flex;
flex-direction: row;
flex-wrap: wrap;}
#powder {display: flex;
flex-direction: row;
flex-wrap: wrap;}
#hair {display: flex;
flex-direction: row;
flex-wrap: wrap;}
#wigs {display: flex;
flex-direction: row;
flex-wrap: wrap;}
#braids {display: flex;
flex-direction: row;
flex-wrap: wrap;}
#weaves {display: flex;
flex-direction: row;
flex-wrap: wrap;}
#cosmetics {display: flex;
flex-direction: row;
flex-wrap: wrap;}
#face-masks {display: flex;
flex-direction: row;
flex-wrap: wrap;}
#face-scrub {display: flex;
flex-direction: row;
flex-wrap: wrap;}
#face-serum {display: flex;
flex-direction: row;
flex-wrap: wrap;}
#beauty-tools {display: flex;
flex-direction: row;
flex-wrap: wrap;}
#brushes {display: flex;
flex-direction: row;
flex-wrap: wrap;}
#combs-brushes {display: flex;
flex-direction: row;
flex-wrap: wrap;}
#mirrors {display: flex;
flex-direction: row;
flex-wrap: wrap;}
#accessories {display: flex;
flex-direction: row;
flex-wrap: wrap;}
#hair-pins {display: flex;
flex-direction: row;
flex-wrap: wrap;}
#brooches {display: flex;
flex-direction: row;
flex-wrap: wrap;}
h2 {text-align: center;
font-family: 'Srisakdi', cursive;
font-size: 50px;
color: rgba(100, 0, 50, 0.9);
font-weight: bold;}
#footer {display: flex;
justify-content: space-between;
align-items: center;
background-color: #F300FF;
position: fixed;
bottom: 0px;
width: 100%;}

@media (max-width: 700px)
{#main {display: grid;
grid-template-columns: auto;
  grid-template-rows: auto auto auto;}
.nav-link:hover {padding: 0px 50px;
color: #000;
text-decoration: none;
font-weight:  bold;
background-color: rgba(200, 0, 0, 0.5);
color: #FFF;}}
